.q3Title {
  margin-bottom: 1.3vw;
  text-align: center;
  font: normal normal bold 1.3vw/1.56 Inter;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.q3Prompt {
  padding: 2%;
  text-align: center;
  font: normal normal bold 3.125vw/3.84vw Inter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.mcq__container {
  margin-bottom: 2.6vw;
}

.next__icon {
  margin-left: 1.62vw;
}
.next {
  color: black;
  padding: 1.36vw 3.71vw 1.36vw 5.66vw;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  font: normal normal bold 1.3vw/2.08vw Inter;
  text-transform: uppercase;
  margin-bottom: 1.43vw;
}
.next:hover,
.next:focus,
.next:active {
  background: #ffffff !important;
  color: black !important;
  border-color: #707070 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.back:hover,
.back:focus,
.back:active {
  background: transparent !important;
  border-color: #707070 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.back {
  color: white;
  background: black 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal bold 0.97vw/1.95vw Inter;
  letter-spacing: 0.019vw;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0;
  background: transparent;
  border: 0;
}
.back:hover {
  background: transparent;
  color: white;
  border-color: #707070;
}

.back__icon {
  margin-right: 0.26vw;
}

.form-check-inline {
  margin-right: 4.55vw;
}

.q1__dropdown {
  background-color: black;
  color: white;
  font: normal normal normal 1.56vw/1.89vw Inter;
  letter-spacing: 0px;
  padding: 0.78vw;
  width: 41.73vw;
  border: 0.13vw solid #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: calc(100% - 14px);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16px' height='16px' fill='%23ffffff' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpath d='M215.4,92.9A8,8,0,0,0,208,88H48a8,8,0,0,0-7.4,4.9,8.4,8.4,0,0,0,1.7,8.8l80,80a8.2,8.2,0,0,0,11.4,0l80-80A8.4,8.4,0,0,0,215.4,92.9Z'%3E%3C/path%3E%3C/svg%3E");
}

.q1__dropdown option[value=""][disabled] {
  display: none;
}
