.q2Title {
  margin-bottom: 1.3vw;
  text-align: center;
  font: normal normal bold 1.3vw/1.56 Inter;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}
.q2Prompt {
  padding: 2%;
  text-align: center;
  font: normal normal bold 3.125vw/3.84vw Inter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.next__icon {
  margin-left: 1.62vw;
}
.next {
  color: black;
  padding: 1.36vw 3.71vw 1.36vw 5.66vw;
  background: #ffffff;
  border: 1px solid #707070;
  opacity: 1;
  font: normal normal bold 1.3vw/2.08vw Inter;
  text-transform: uppercase;
  margin-bottom: 1.43vw;
}
.next:hover,
.next:focus,
.next:active {
  background: #ffffff !important;
  color: black !important;
  border-color: #707070 !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.back:hover,
.back:focus,
.back:active {
  background: transparent !important;
  border-color: #707070 !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.back {
  color: white;
  background: black 0% 0% no-repeat padding-box;
  text-align: left;
  font: normal normal bold 0.97vw/1.95vw Inter;
  letter-spacing: 0.019vw;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0;
  background: transparent;
  border: 0;
}
.back:hover {
  background: transparent;
  color: white;
  border-color: #707070;
}

.back__icon {
  margin-right: 0.26vw;
}

.form-check-inline {
  margin-right: 4.55vw;
}
