.basis {
  height: 100%;
  width: 100%;
  padding: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #0d0d0d 0% 0% no-repeat padding-box;
  border: 1px solid #6a6a6a;
  border-radius: 0.52vw;
  opacity: 1;
  position: relative;
}

.basis__container {
  width: 100vw;
  height: 100vh;
  background: #0d0d0d 0% 0% no-repeat padding-box;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1.5vw;
  margin: 0;
}

a:hover {
  text-decoration: none !important;
}
